@{
    ViewBag.Title = "Contact";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/myStyle.css">
</head>    
<section class="contact wrapper">
	<a name="contact"></a>
	<div class="container">
        <div style="text-align: center">
            <h1>CONTACT</h1>
            <h3>Phone: (801) 828-0689</h3>
            <h3>Email: <a href="mailto:info@getcallforce.com" target="_blank">info@getcallforce.com</a></h3>
        </div>
		<div class="text-center paddingLR-30">
			<h2><span>Schedule A Demo</span></h2>
			<h3>A CallForce representative will contact you shortly.</h3>
		</div>

		<div class="contact-form">
			<form class="row">
                <div class="col-xs-12 error-msg">
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                    <label>FIRST NAME</label>
                    <input type="text" required="" class="form-control" name="fname" id="fname" placeholder="FIRST NAME">
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                    <label>LAST NAME</label>
                    <input type="text" required="" class="form-control" name="lname" id="lname" placeholder="LAST NAME">
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                    <label>EMAIL</label>
                    <input type="email" required="" class="form-control" name="email" id="email" placeholder="EMAIL">
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                    <label>PHONE</label>
                    <input type="tel" required="" class="form-control" name="phone" id="phone" placeholder="PHONE">
                </div>
				<div class="col-xs-12" style="text-align: center">
					<button type="submit" class="btn btn_orange">SCHEDULE A DEMO</button>
					<div></div>
				</div>
			</form>
            
		</div>

	</div>
</section>