@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" id="mainDiv">
    <img id="logo" src="~/Content/img/logo-large.png" class="img-responsive" />
</div>
<div class="row">
    <img id="mainPicture" src="~/Content/img/dentalOffice.jpg" />

    <p class="frontText"><strong>BRING PERSONAL TOUCH BACK TO PATIENT RECALL</strong></p>
</div>
<div id="videoDiv" class="jumbotron">
    <h3 class="frontText" id="whatWeDo">WHAT WE DO</h3>
    <iframe id="CFVideo" src="https://player.vimeo.com/video/220707097" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>