
@{
    ViewBag.Title = "CallForce";
}

<h2>CallForce Employee Dashboard</h2>

@using (Html.BeginForm("EmpChosen", "Employee" , FormMethod.Get))
{
<fieldset>
    <div class="col-md-4">
        Select Employee:
        @Html.DropDownList("employee", Model, new { @class = "form-control" })
        <br />
        <p>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </p>
    </div>
</fieldset>
} 

