@model IEnumerable<CallForceWithAuth.Models.MessageBoard>
@{
ViewBag.Title = "TeamMessage";
}

<h2>Team Messages</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <h3>Current Thread</h3>
        <ul class="list-group">
            <li class="list-group-item">
                    @foreach(var item in Model)
                    {
                        <br /><strong>
                            @item.question<br /><br />
                        </strong>
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" id="comment" rows="5" placeholder="Insert comment here"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Comment</button><hr /><br />
                        </form>
                    }
            </li>
        </ul>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <h3>Start New Thread</h3>
        <form>
            <div class="form-group">
                <label for="comment"></label>
                <input class="form-control" id="question" placeholder="Insert question here">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

